<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">

      <a class="brand" href="{{ url_for('index') }}"><strong>Z-ERP</strong></a>

      <div class="btn-group pull-right">
        {% if g.is_authenticated %}

        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="icon-user"></i> {{ g.current_user.name }}
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li class="divider"></li>
          <li><a href="{{ url_for('auth.logout') }}">Sign Out</a></li>
        </ul>

        {% else %}

        <a class="btn" href="{{ url_for('auth.login') }}">Sign in</a>

        {% endif %}

      </div>

      <div class="nav-collapse">
        <ul class="nav">
          <li><a href="{{ url_for('index') }}">Home</a></li>
          <li><a href="#">Issues</a></li>
          <li><a href="#">Orders</a></li>
          <li><a href="#">Commercial</a></li>
          <li><a href="#">Statistic</a></li>
          {% if g.is_admin%}
          <li><a href="#">Admin page</a></li>
          {% endif %}

        </ul>
      </div>

    </div>
  </div>
</div><!-- /navbar -->
